.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(220, 10%, 90%);
    padding-left:1.5rem;
    padding-right:1.5rem;
    height: 5.6rem;
    background-color: white;
}

.header h1{
    font-size: var(--font-size-xl);
    font-weight: 600;
}

.header p {
    font-size: var(--font-size-sm);
    color: hsl(220, 10%, 50%);
}

.logout-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    padding:0.5rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.logout-button img {
    filter: invert(60%);
}

.logout-button:hover {
    background-color:  hsl(220, 10%, 90%);
}
