.content-body{
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.grid-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(220, 10%, 90%);
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: white;
}

.grid-item-title{
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: hsl(220, 10%, 50%);
}

.grid-item-value {
    font-size: var(--font-size-2xl);
    font-weight: bold;
    margin-top: 0.25rem;
}

.icon-container{
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: hsl(220, 15%, 95%);
}

.icon-blue{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(200deg) brightness(100%) contrast(101%);
}

.icon-green{
    filter: invert(49%) sepia(75%) saturate(432%) hue-rotate(85deg) brightness(95%) contrast(90%);
}

.icon-purple{
    filter: invert(30%) sepia(48%) saturate(749%) hue-rotate(250deg) brightness(95%) contrast(90%);
}

.icon-orange{
    filter: invert(57%) sepia(48%) saturate(749%) hue-rotate(10deg) brightness(95%) contrast(90%);
}

.icon-blue-bg{
    background-color: hsl(210, 80%, 95%);
}

.icon-green-bg{
    background-color: hsl(140, 55%, 93%);
}

.icon-purple-bg{
    background-color: hsl(265, 60%, 95%);
}

.icon-orange-bg{
    background-color: hsl(25, 85%, 94%);
}

.content-bottom{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.content-bottom h3{
    font-size: var(--font-size-lg);
    font-weight: 600;
}

.content-quick{
    background-color: white;
    border: 1px solid hsl(220, 10%, 90%);
    border-radius: 0.5rem;
}

.quick-header{
    padding: 1.5rem;
}

.quick-links{
    display: flex;
    flex-direction: column;
    padding: 0px 1.5rem 3rem 1.5rem;
    gap: 1rem;
}

.quick-links a{
    text-decoration: none;
    color:black
}

.title{
    font-weight: 500;
}

.desc{
    color: hsl(220, 10%, 50%);
    font-size: var(--font-size-sm);
}

.quick-link{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 10px 12px;
    border: 1px solid hsl(220, 10%, 90%);
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}

.quick-link:hover {
    background-color: hsl(220, 10%, 95%);
}

.content-recent-activities{
    background-color: white;
    border: 1px solid hsl(220, 10%, 90%);
    border-radius: 0.5rem;
    padding: 1.5rem;
}