.emploi-section {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(240px, 1fr));
    gap: 1.5rem;
}

.emploi-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.emploi-status-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(220, 15%, 95%);
    color: hsl(220, 20%, 30%);
    font-size: var(--font-size-sm);
    font-weight: 600
}

.emploi-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.emploi-info img{
    width: 18px;
    height: 18px;
    opacity: 0.6;
}
