.nav-section{
    display: flex;
    background-color: hsl(220, 15%, 95%);
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.nav-button{
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: hsl(220, 10%, 50%);
}

.nav-button.active {
    background-color: white;
    color: hsl(220, 20%, 20%);
}

.tab-content {
    margin-top: 0.5rem;
}

.app-info{
    padding: 0.75rem 1rem;
    border: 1px solid hsl(220, 10%, 90%);
    background-color: hsl(220, 15%, 95%, 0.5);
    border-radius: 0.5rem;
}



